.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.container div h3 {
  text-transform: capitalize;
  margin: 0;
}
.types {
  display: flex;
  justify-content: space-between;
}
.types p {
  margin: 0;
}
