.buttonLogin {
  width: 80%;
  height: 2vw;
  border: none;
  border-radius: 0.41vw;
  background-color: #ff0000;

  color: #fff;
  font-weight: bold;
  font-size: 0.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.04vw;
  transition: filter 0.3s;
}
.buttonLogin:hover {
  cursor: pointer;
  filter: brightness(0.85);
}
.buttonLogin img {
  height: 1.3vw;
}
@media (max-width: 600px) {
  .buttonLogin {
    height: 40px;
    border-radius: 8px;

    font-size: 14px;
    margin-top: 20px;
    transition: filter 0.3s;
  }
  .buttonLogin img {
    height: 25px;
  }
}
